@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.clip-left {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.clip-right {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.input-field {
  @apply w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-red-400;
}
